.container{
  display:flex;
  flex-direction:column;
  height: 100vh;
}
.header{
  flex:15%;
  background-color: lightgray;
}
.menu{
  flex:5%;
  background-color: darkgray;
}
.menu a{
  padding: 15px 20px;
  color: pink;
}
.menu hover{
  background-color: lightgray;
  color: black;
}
.content{
  flex:70%;
  background-color: white;
}
content iframe{
  flex: 1;
  border: none; 
  height: 100%;
  width: 100%;
}
.footer{
  flex:10%;
  background-color: lightgray;
}
.tieude{
  color: tomato;
  font-weight: bold;
  font-size: 25pt;
  text-align: center;}
.noidung {
  color: black;
  font-style: normal;
  font-size: 14pt;}
